 /* frame class */
 .frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
 }
 /* main-frame class */
 .frame .main-frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: 2px;
    background: #f7f6b9;
 }
 /* left-frame (section 1)*/
.main-frame .left-frame {
    position: relative;
    width: 305px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    background: white;
 }
/* middle-frame (section 2)*/
 .main-frame .middle-frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
 }
/* right-frame (section 3)*/
 .main-frame .right-frame {
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
 }

/************ left-frame starts ************/
 .main-frame .left-frame .left-1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /* centers horizontally */
    /* background-color: aqua; */
 }

 .main-frame .left-frame .left-1 .left-1-profile {
    position: relative;
    width: 156.16px;
    height: 142.53px;
    display: flex;
    flex-direction: column;
    margin-bottom: 29.46px;
 }

 .main-frame .left-frame .left-1 .left-1-name {
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  /* H4 – 18px */
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  /* or 22px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  /* Black */
  color: #2b2b2b;
}

.main-frame .left-frame .left-1 .left-1-profession {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Paragraph Progress – 15 */
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px; /* or 160% */
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  /* Paragraph Font */
  color: #767676;
}

.main-frame .left-frame .left-1 .left-1-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
    align-items: center;
    justify-content: space-between;

}

.link-href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  /* Yellow */
  background: #ffb400;
}


/* ----------- marginer ------------- */
 .main-frame .left-frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    /* Background */
    border: 1.5px solid #f0f0f6;
 }

/* -----------left-2------------- */
 .main-frame .left-frame .left-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    /* background-color: aqua; */
 }

 .main-frame .left-frame .left-2 .left-2-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
 }

 .main-frame .left-frame .left-2 .left-2-1 .rectangle {
    height: 24px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 5px;
    background: #ffb400;
  }

/* -----------left-3------------- */
 .main-frame .left-frame .left-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
    justify-content: center;
    /* background-color: aqua; */
 }

.main-frame .left-frame .left-3-1 {
    width: 95px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    text-align: left;
    margin-bottom: 10px;
} 
.main-frame .left-frame .left-3-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: #767676;
}
.main-frame .left-frame .left-3-2 p {
    margin: 5px 0 5px 0;
}
.main-frame .left-frame .progress-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 4px;
    border-radius: 30px;
    border: 1px solid #ffb400;
    justify-content: center;
}
.main-frame .left-frame .progress-bar div {
    height: 2px;
    border-radius: 30px;
    background-color: #ffb400;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-1 {
    width: 100%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-2 {
    width: 60%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-3 {
    width: 85%;
}


/* -----------left-4------------- */
 .main-frame .left-frame .left-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
 }

 .main-frame .left-frame .left-3 .progress-bar .inner-bar-4 {
    width: 100%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-5 {
    width: 90%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-6 {
    width: 90%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-7 {
    width: 80%;
}
.main-frame .left-frame .left-3 .progress-bar .inner-bar-8 {
    width: 70%;
}

/* -----------left-5------------- */
 .main-frame .left-frame .left-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
 }

  .main-frame .left-frame .left-5 .left-5-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .main-frame .left-frame .left-5 .icon-0 {
    width: 15px;
    height: 15px;
    margin-right: 10px;
 }

 .main-frame .left-frame .left-5 .left-5-2 {
    font-size: 15px;
    color: #767676;
 }

 .main-frame .left-frame .left-5 .left-5-2 p {
    margin: 7px;
 }

 /************ middle-frame starts ************/

/* -----------middle-top start here...------------- */
 .main-frame .middle-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .main-frame .middle-frame .middle-top {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 971px;
    height: 463.09px;
    background-color: white;
    align-items: center; /* centers horizontally */
 }

 .middle-top .middle-top-left {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
 }

 .middle-top .middle-top-left p {
    margin: 0 0 10px 0;
 }

 .middle-top .middle-top-left .middle-top-left-1 {
    width: 499.51 px;
    height: 116.74 px;
    font-style: bold;
    font-size: 48px;
    font-weight: 700;
 }
 .middle-top .middle-top-left .middle-top-left-2 {
    width: 424.44px;
    height: 85.61px;
    font-size: 16px;
    text-align: left;
 }

 .middle-top .middle-top-left .middle-top-left-3 {
    width: 154px;
    height: 49.62px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffb400;
    border-radius: 5px;
 }
.middle-top .middle-top-left .middle-top-left-3 .btn-box {
    width: 154px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffb400;
     border-radius: 5px;
}

.middle-top .middle-top-left .middle-top-left-3 .btn-box button {
    background-color: #ffb400;
    border-style: none;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
}
.middle-top .middle-top-left .middle-top-left-3 .btn-box img {
    width: 16px;
    height: 16px;
}

.middle-top .middle-top-right img {
    width: 326.06px;
    height: 446.63px;
    margin-top: 21px;
}

 .polygon-icon {
    width: 16.02px;
    height: 15.57px;
    margin-top: 424.09px;
    margin-left: 917.96px;
    position: absolute;
}
.rectangle-icon{
    width: 15.93px;
    height: 15.65px;
    position: absolute;
}
.rectangle-icon-1 {
    margin-bottom: 276.44px;
    margin-left: 892.37px;
}
.rectangle-icon-2 {
    margin-top: 170.69px;
    margin-left: 370.4px;
}
.ellipse-icon {
    width: 16.02px;
    height: 15.57px;
    position: absolute;
}
 .ellipse-icon-1 {
    margin-bottom: 308.33px;
    margin-left: 504.45px;
}
 .ellipse-icon-2 {
    margin-bottom: 409.66px;
    margin-left: 20px;
}
 .ellipse-icon-3 {
    margin-top: 419.22px;
    margin-left: 84.1px;
}
.ellipse-icon-4 {
    margin-top: 324.09px;
    margin-left: 517.96px;
}

/* -----------middle-bottom section start here...------------- */

.middle-frame .middle-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 970px;
    height: 653px;
    /* background-color: grey; */
    justify-content: space-between;
}
/* -----------middle-bottom-top------------- */
.middle-frame .middle-bottom .middle-bottom-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.middle-frame .middle-bottom .middle-bottom-top .middle-bottom-top-title {
    width: 193px;
    height: 40px;
    font-size: 32px;
    font-style: bold;
    font-weight: 700;
    line-height: 123.6%;   
    margin-bottom: 15px;
}
.middle-frame .middle-bottom .middle-bottom-top .middle-bottom-top-desc {
    width: 438px;
    height: 68px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;
}

/* -----------middle-bottom-bottom------------- */
.middle-frame .middle-bottom .middle-bottom-bottom .grid-container {
    display: grid;
    /* Defines 4 columns, each taking up an equal fraction of the available space */
    grid-template-columns: 1fr 1fr 1fr;
    /* Defines 2 rows, each taking up an equal fraction of the available space */
    grid-template-rows: 1fr 1fr;
    /* Optional: Adds space between the grid items */
    gap: 20px; 
}

.middle-frame .middle-bottom .middle-bottom-bottom .grid-container .grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 225px;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.middle-bottom-bottom .grid-container .grid-item img {
    width: 68px;
    height: 68px;
}

.middle-bottom-bottom .grid-container .grid-item h3 {
    width: 158px;
    height: 22px;
    font-size: 18px;
    font-weight: 500px;
    line-height: 123.6%;
    font-style: medium;
}
.middle-bottom-bottom .grid-container .grid-item p {
    width: 80%;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    margin: 0 0 7px 0;   
}
.middle-bottom-bottom .grid-container .grid-item .order-btn img {
    width: 86px;
    height: 20px;
}
.middle-bottom-bottom .grid-container .grid-item .order-btn {
    background-color: white;
    border-style: none;
}